<!-- <div fxLayout="row" fxLayoutAlign="center center" class="content">
    <div class="example-container">
        <mat-table #table [dataSource]="dataSource">
            <ng-container matColumnDef="vorname">
                <mat-header-cell *matHeaderCellDef> Vorname </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.vorname}}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Nachname </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="adresse">
                <mat-header-cell *matHeaderCellDef> Adresse </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.adresse | json}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="delete">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <a (click)="deletePost(element.position)" type="button">
                        <mat-icon class="icon">delete</mat-icon>
                    </a>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>
</div>
<div fxLayout="column" fxLayoutGap="20px" fxLayout.gt-md="row" fxLayoutAlign="end" class="content">
    <div class="blocks">
        <button button="submit" mat-raised-button color="primary" (click)="openDialog()">
            <mat-icon>add</mat-icon> Kontakt hinzufügen
        </button>
    </div>
</div> -->

<div fxLayout="column" fxLayoutGap="100px">
    <mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="vorname">
            <mat-header-cell *matHeaderCellDef> Vorname </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.vorname}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Nachname </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="adresse">
            <mat-header-cell *matHeaderCellDef> Adresse </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.adresse | json}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element">
                <a (click)="deletePost(element.position)" type="button">
                    <mat-icon class="icon">delete</mat-icon>
                </a>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>
<br>

<div fxLayout="column" fxLayoutAlign="space-around end" class="content">
    <div class="blocks">
        <button button="submit" mat-raised-button color="primary" (click)="addContact()">
            <mat-icon>add</mat-icon> Kontakt hinzufügen
        </button>
    </div>

</div>